language: ruby
cache: bundler
rvm: 2.6.3
bundler_args: "--without production development"
services: postgresql

before_script:
  - psql -c 'create database chahan_test;' -U postgres
  - cp config/database.yml.travis config/database.yml
