// Place all the styles related to the Bookings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$dim-grey: #696969;
$grey: #808080;
$yellow: #feb600;
$cream: #fff8dc;
$dark-cream: #f6e1af;
th {
    background-color: $yellow;
}

tr:nth-child(even) {
  background-color: $cream;
}

tr:nth-child(odd) {
  background-color: $dark-cream;
}