<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p style="color: green; font-weight: bold">We are delighted to say that your booking is approved</p>
    <p>Details of the approved booking:</p>
    <table>
      <tr>
        <td style="font-weight: bold">Items:</td>
        <td><%= @items %></td>
      </tr>
      <tr>
        <td style="font-weight: bold">Category:</td>
        <td><%= @category.capitalize %></td>
      </tr>
      <tr>
        <td style="font-weight: bold">Quantity:</td>
        <td><%= @quantity %></td>
      </tr>
      <tr>
        <td  style="font-weight: bold">Purpose:</td>
        <td><%= simple_format @purpose %></td>
      </tr>
    </table>
    <p>
      Regards,<br />
      NUSSU Logistics
    </p>
    <p>
      Important: This email is confidential and may be privileged. If you are not the intended recipient, please delete it and notify us immediately; you should not copy or use it for any purpose, nor disclose its contents to any other person. Thank you.
    </p>
  </body>
</html>